<h1>Checkout</h1>
<%= number_to_currency(@reward.amount) %>
<%= @reward.description %>
<p><%= link_to "Select Reward", project_reward_pledges_path(@reward.project, @reward), method: 'post',class: 'button tiny' %></p>